.exampleContainer {
  padding: 40px 20px 40px 20px;
  border: 2px solid red;
}

.exampleContainer h2 {
  margin: 0;
}

.exampleContainer__input {
  border-bottom: 4px solid black;
  padding: 10px;
}

.exampleContainer__error {
  color: red;
}

.exampleContainer__listElement{
  background-color: blue;

  &:hover {
    background-color: red;
  }
}

.exampleContainer__listElement a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.exampleContainer__listElement p {
  font-size: 14px;
}

.exampleContainer__list {
  margin-top: 20px;
  margin-left: 10px;
}
